.bg {
  width: 100%;
  height: 300px;
  background: url("../assets/images/KakaoTalk_20230406_211958170_15.jpg")
    no-repeat center center;
}

.bg2 {
  width: 100%;
  height: 300px;
  background: url("/images/KakaoTalk_20230406_211958170_15.jpg") no-repeat
    center center;
}
